//== Colors
//
//## Gray and brand colors for use across Bootstrap.
@white:                  #FFF;
@black:                  #000;   

@vui-primary:rgb(191, 4, 144);
@vui-secondary:#484759;
// @vui-primary:rgb(4, 101, 191);
// @vui-secondary:#373841;

@vui-font-family: 'helvetica';

@vui-primary-dark : darken(@vui-primary, 3%);
@vui-primary-darker : darken(@vui-primary, 6%);
@vui-primary-darkest : darken(@vui-primary, 12%);

@vui-primary-light:  lighten(@vui-primary, 9%);
@vui-primary-lighter : lighten(@vui-primary, 18%); // primary hover
@vui-primary-lightest : lighten(@vui-primary, 27%);

@vui-secondary-dark: darken(@vui-secondary, 3%);
@vui-secondary-darker: darken(@vui-secondary, 6%);
@vui-secondary-darkest: darken(@vui-secondary, 12%);

@vui-secondary-light: lighten(@vui-secondary, 10%); // inactive color 
@vui-secondary-lighter: lighten(@vui-secondary, 25%); // secondary-hover
@vui-secondary-lightest: lighten(@vui-secondary, 60%);

@vui-primary-white:   #d5d5d5;
@vui-secondary-white:  @white ;

//  level 2 
@vui-primary-bg-color: @vui-secondary-dark;
@vui-secondary-bg-color: @vui-secondary;


@vui-primary-font-color: @white;
@vui-secondary-font-color: @vui-secondary-lightest;
@vui-font-light-color: @vui-secondary-lighter;

@vui-primary-border-color: @vui-secondary-light;
@vui-secondary-border-color: @vui-secondary-light;

@vui-primary-shadow-color: @vui-secondary-darker;
// @vui-secondary-show-color:

// @vui-primary-hover-color:
// @vui-secondary-hover-color:



// color: #d5d5d5;
// font-size: 22px;
// font-size: 18px;
// font-size: 14px;
// font-family: 'helvetica,arial,sans-serif';
