
html, body, .main-container, #root {
    height: 100%;
    background-color:  @vui-primary-bg-color;
    color: @vui-primary-font-color;
    font-family: @vui-font-family;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    &:focus, &:hover {
        outline: none;
    }
}

.main-logo {
    font-size: 40px;
    text-align: center;
    a.main-logo-btn {
            color: @vui-primary;
            .vui-text-shadow(1px, 1px , 2px, @vui-primary-shadow-color);
    }
}


.top-header-toolbar {
    .vui-box-shadow();
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color:  @vui-secondary-bg-color;
    border: @vui-primary-border-color solid 1px;
    border-top: 0;
    // box-shadow: 2px 2px 1px  @vui-primary-shadow-color;
    border-radius: 0 0 8px 8px;
}

.left-header-toolbar {
    .vui-box-shadow();
    background-color:  @vui-secondary-bg-color;
    border-right: @vui-primary-border-color solid 1px;
    // box-shadow: 2px 2px 1px @vui-primary-shadow-color;

}

.left-container {
    width: 25%;
    min-width: 250px;
    .vui-box-shadow();
    background-color:  @vui-secondary-bg-color;
    border: @vui-primary-border-color solid 1px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}

.right-container {
    flex: 25 100;
    display: flex;
    overflow: hidden;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-header {
    height: 30px;
    text-align: center;
    background: #3a3948;
    border-bottom: #5d5b73 solid 1px;
    box-sizing: border-box;
}

.card-header-title {
    text-align: left;
    line-height: 30px;
    padding: 0 0 0 8px;
    font-size: 14px;
    /* font-weight: bold; */
    color: #e4e4e4;
    /* padding-top: 2px; */
    width: calc(100% - 35px);
}

.card-section {
    flex: 100 35;
}