
html, body, .main-container, #root {
    height: 100%;
    background-color:  @vui-primary-bg-color;
    color: @vui-primary-font-color;
    font-family: @vui-font-family;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    &:focus, &:hover {
        outline: none;
    }
}

.main-logo {
    font-size: 40px;
    text-align: center;
    a.main-logo-btn {
            color: @vui-primary;
            .vui-text-shadow(1px, 1px , 2px, @vui-primary-shadow-color);
    }
}


.top-header-toolbar {
    .vui-box-shadow();
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-color:  @vui-secondary-bg-color;
    border: @vui-primary-border-color solid 1px;
    border-top: 0;
    // box-shadow: 2px 2px 1px  @vui-primary-shadow-color;
    border-radius: 0 0 20px 20px;
}

.left-header-toolbar {
    .vui-box-shadow();
    background-color:  @vui-secondary-bg-color;
    border-right: @vui-primary-border-color solid 1px;
    // box-shadow: 2px 2px 1px @vui-primary-shadow-color;

}
