.react-tabs {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
  
    &__tab-list {
      // border-bottom: 1px solid #aaa;
      // margin: 0 0 10px;
      padding: 0;
    }
  
    &__tab {
      display: inline-block;
      border: 1px solid transparent;
      border-bottom: none;
      bottom: -1px;
      position: relative;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
      height: 30px;
      width: 90px;
      line-height: 30px;
      padding: 0 6px;
      box-sizing: border-box;
      text-align: center;
      h4 {
        width: calc(100% - 20px);
        display: inline-block;
      }
      i {
        display: inline-block;
        line-height: 30px;
        font-size: 12px;
      }
  
      &--selected {
        // background: none;
        // border-color: #aaa;
        // color: inherit;
        border-radius: 8px 8px 0 0;
        background: #3a3948;
        border-color: #615e5e;
        color: #24faad;
      }
  
      &--disabled {
        color: GrayText;
        cursor: default;
      }
  
      &:focus {
        // box-shadow: 0 0 5px hsl(208, 99%, 50%);
        // border-color: hsl(208, 99%, 50%);
        outline: none;
  
        &:after {
          content: "";
          position: absolute;
          height: 5px;
          left: -4px;
          right: -4px;
          bottom: -5px;
          // background: #fff;
        }
      }
    }
    .tab-panel-warper{
        display: flex;
        flex: 100 30;
    }
    &__tab-panel {
      display: none;
      flex: 100 25px;
        box-shadow: 2px 2px 1px #3a3948;
        background-color: #3a3948;
        border: #5d5b73 solid 1px;
        border-radius: 0 8px 8px 8px;
        overflow: hidden;
    padding: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
  
      &--selected {
        display: flex;
      }
    }
  }

  .card-widget {
      width: 50%;
      padding: 8px;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      .card-container{
        border: @vui-primary-border-color solid 1px;
        border-radius: 8px;
        overflow: hidden;
      }
  }
  .full-col-with {
      width: 100%;
  }
  